<!-- [html-validate-disable missing-doctype] -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">RogueLike</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Jouer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/presentations">Présentations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ressources">Ressources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/equipe">L'équipe</a>
          </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <button type="button" class="nav-link dropdown-toggle btn-light" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Mon compte
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" id="menu-dropdown2">
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script src="static/scripts/navbar.js"></script>