#gameContainer {
  overflow: hidden;
  margin: 0;
}

#salle_2d,
#canvas {
  position: absolute;
  top: 80px;
}

#inventory {
  border: solid;
  background-color: rgb(100 149 237 / 40%);
  height: 300px;
  width: 700px;
  margin-left: 15em;
  margin-top: 10em;
  position: absolute;
  display: none;
}

#progress-bar {
  position: absolute;
  background-color: rgb(255 0 0);
  font-size: 2rem;
  margin-top: 1em;
  margin-left: 1em;
}

#progress-bar::-webkit-progress-value {
  background: rgb(255 0 0);
}
