<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/scripts/changePassword.js" defer></script>
        <title>Change password</title>
    </head>
    <body>
        <h1>Change password</h1>
        <form id="change-password-form">
            <label>Nouveau mot de passe <input type="password" placeholder="Password" id="input_new-password"></label>
            <label>Confirmer le mot de passe <input type="password" placeholder="Confirm Password" id="input_confirm_new-password" required></label>
            <button type="submit" value="Submit">Envoyer</button>
        </form>
    </body>
</html>