<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/static/scripts/signin.js" defer></script>
        <title>Signin</title>
    </head>
    <body>
        <h1>Signin</h1>
        <form id="signin-form">
            <input type="text" placeholder="Username" id="input_username"/>
            <input type="password" placeholder="Password" id="input_password"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>