<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/scripts/signin.js" defer></script>
        <title>Signin</title>
    </head>
    <body>
        <h1>Signin</h1>
        <form id="signin-form">
            <label>Nom d'utilisateur <input type="text" placeholder="Username" id="input_username" required></label>
            <label>Mot de passe <input type="password" placeholder="Password" id="input_password" required></label>
            <button type="submit" value="Submit">Envoyer</button>
        </form>
    </body>
</html>