<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/scripts/signup.js" defer></script>
        <title>Signup</title>
    </head>
    <body>
        <h1>Signup</h1>
        <form id="signup-form">
            <input type="text" placeholder="Username" id="input_username" required>
            <input type="password" placeholder="Password" id="input_password" required>
            <input type="password" minlength="6" placeholder="Confirm Password" id="input_confirm_password" required>
            <button type="submit" value="Submit">Envoyer</button>
        </form>
    </body>
</html>