// Custom.scss
$body-bg: #212529;
$body-color: #fff;

//Regles à bouger par la suite si possible 
#navbarDropdownMenuLink{
    border-style: none;
}

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";